.DS_Store
DerivedData/
# .xcodeproj/
# Walleo.xcodeproj/
*.xcuserstate
*.xcuserstate
Walleo.xcodeproj/project.xcworkspace/xcuserdata/mt.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcuserstate
